<!doctype html>
<html lang="es-mx" data-ng-app="actaApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simulador educativo de generación de actas de nacimiento">
    <meta name="author" content="Víctor Manuel Castrejón Martínez">
    <link rel="icon" href="img/EscudoNacional.ico">

    <title>Registro Civil</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/angularjs/angular-locale_es-mx.js"></script>
    <link href="css/fontawesome/css/all.css" rel="stylesheet" />
    <script src="css/fontawesome/js/all.js"></script>

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }

        body>.container {
            padding: 60px 15px 0;
        }

        .footer>.container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }

        th, td {
            text-align: center;
        }
    </style>
</head>

<body data-ng-controller="actasController" data-ng-init="listarActas()">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="" data-ng-click="verSeccion(0);">
                <img src="img/SolucionesDigitales.png" width="70" height="30" alt="Soluciones Digitales y de Procesos S.A. de C.V." style="padding-right: 10px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="" data-ng-click="verSeccion(0);">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" data-ng-show="Seccion(0)">
                    <label style="color:white; padding-right: 10px;">Buscar en actas:</label>
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" data-ng-model="buscarActa">
                </form>
            </div>
        </nav>
    </header>

    <!-- Lista de actas -->
    <div class="container-fluid" data-ng-show="Seccion(0)">
        <div class="row" style="padding-top: 80px;">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>Registro Cívil <i class="fa fa-address-card"></i>  <button type="button" class="btn btn-success" data-ng-click="verSeccion(1)"><i class="fa fa-plus"></i> Registrar persona</button></h2>
                <hr/>
                <h4>Lista actual de actas</h4>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Identificador</th>
                                <th scope="col">Nombre Registrado</th>
                                <th scope="col">Nombre del Padre</th>
                                <th scope="col">Nombre de la Madre</th>
                                <th scope="col">C.U.R.P.</th>
                                <th scope="col">Se registro</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="datos in actas | filter : buscarActa | orderBy: '+identificador'">
                                <th scope="row">{{datos.identificador}}</th>
                                <td>{{datos.nombreR}}</td>
                                <td>{{datos.nombreP}}</td>
                                <td>{{datos.nombreM}}</td>
                                <td>{{datos.curp}}</td>
                                <td>{{datos.fregistro | date: 'yyyy-MM-dd'}}</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm" data-ng-click="verDetalles(datos.identificador);">
                                        <i class="fa fa-clipboard-list"></i> Detalles</button>
                                    <button type="button" class="btn btn-danger btn-sm" data-ng-click="borrarActa(datos);">
                                        <i class="fa fa-times"></i> Borrar</button>
                                    <button type="button" class="btn btn-warning btn-sm" data-ng-click="prepararActualizacion(datos);">
                                        <i class="fa fa-sync"></i> Actualizar</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfooter>
                            <tr>
                                <th scope="col">Identificador</th>
                                <th scope="col">Nombre Registrado</th>
                                <th scope="col">Nombre del Padre</th>
                                <th scope="col">Nombre de la Madre</th>
                                <th scope="col">C.U.R.P.</th>
                                <th scope="col">Se registro</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </tfooter>
                    </table>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <!-- Registro de actas -->
    <div class="container-fluid" data-ng-show="Seccion(1)">

        <div class="row" style="padding-top: 80px;">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>Actas de nacimiento</h2>
                <hr/>
                <h4>Generar un acta nueva:</h4>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-1"></div>
            <div class="col-10">
                <form name="FormRegistro">

                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3">
                                <label>Nombre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre" data-ng-model="acta.nombreR" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="mb-3">
                                <label>Apellido Paterno:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Apellido paterno" data-ng-model="acta.apellidoPR" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="mb-3">
                                <label>Apellido Materno:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Apellido Materno" data-ng-model="acta.apellidoMR" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-4">
                            <div class="mb-3">
                                <label>Libro:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="01" min="01" max="09" data-ng-model="acta.libro" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-4">
                            <div class="mb-3">
                                <label>Lugar de Nacimiento:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Calle #, Col. y Mpio." data-ng-model="acta.lnacimientoR" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="mb-3">
                                <label>Sexo:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <select class="form-control" data-ng-model="acta.sexoR">
                                        <option value="H">Hombre</option>
                                        <option value="M">Mujer</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="mb-3">
                                <label>Fecha de nacimiento:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="date" class="form-control" data-ng-model="acta.fnacimientoR" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-4">
                            <div class="mb-3">
                                <label>Estado:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <select class="form-control" data-ng-model="acta.estado">
                                        <option data-ng-repeat="dato in estados" value="{{dato.codigo}}">{{dato.estado}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Datos de los padres -->

                    <div class="row">

                        <div class="col-3">
                            <div class="mb-3">
                                <label>Nombre del Padre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre del padre" data-ng-model="acta.nombreP" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="mb-3">
                                <label>Apellido Paterno Padre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Apellido paterno del padre" data-ng-model="acta.apellidoPP" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="mb-3">
                                <label>Apellido Materno Padre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Apellido materno del padre" data-ng-model="acta.apellidoMP" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="mb-3">
                                <label>Nacionalidad del padre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <select class="form-control" data-ng-model="acta.nacionalidadP">
                                        <option value="Mexicana">Mexicana</option>
                                        <option value="Extranjera">Extranjera</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-3">
                            <div class="mb-3">
                                <label>Nombre de la Madre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre de la madre" data-ng-model="acta.nombreM" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="mb-3">
                                <label>Apellido Paterno Madre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Apellido paterno de la madre" data-ng-model="acta.apellidoPM" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="mb-3">
                                <label>Apellido Materno Madre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Apellido materno de la madre" data-ng-model="acta.apellidoMM" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="mb-3">
                                <label>Nacionalidad de la Madre:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <select class="form-control" data-ng-model="acta.nacionalidadM">
                                        <option value="Mexicana">Mexicana</option>
                                        <option value="Extranjera">Extranjera</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12">
                            <div class="mb-3">
                                <label>Anotaciones:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <textarea class="form-control" placeholder="Algúnas anotaciones especiales a registrar" data-ng-model="acta.anotaciones" rows="5" required>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <button type="button" class="btn btn-warning" data-ng-click="verSeccion(0);"><i class="fa fa-arrow-left"></i> Regresar</button>
                                <button type="button" class="btn btn-danger" data-ng-click="resetForm();"><i class="fa fa-redo"></i> Limpiar</button>
                                <button type="button" class="btn btn-success" data-ng-click="guardarActa(acta);"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <!-- Detalles de actas -->
    <div class="container-fluid" data-ng-show="Seccion(2)">

        <div class="row" style="padding-top: 80px;">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>Acta de nacimiento
                    <i class="fa fa-address-card"></i>   <button type="button" class="btn btn-success" data-ng-click="verSeccion(1)"><i class="fa fa-plus"></i> Registrar a una persona</button>
                </h2>
                <hr/>
                <h4>Detalles del acta:</h4>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-1"></div>

            <div class="col-10">

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label>Fecha de registro:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-sort-numeric-up"></i></span>
                                </div>
                                <input type="date" class="form-control" readonly="readonly" data-ng-model="acta.fregistro" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label>Identificador:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-sort-numeric-up"></i></span>
                                </div>
                                <input type="numeric" class="form-control" placeholder="Identificador" readonly="readonly" data-ng-model="acta.identificador" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="mb-3">
                            <label>C.U.R.P.:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" maxlength="18" readonly="readonly" data-ng-model="acta.curp" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            <label>Nombre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" readonly="readonly" data-ng-model="acta.nombreR" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Apellido Paterno:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Apellido paterno" readonly="readonly" data-ng-model="acta.apellidoPR" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Apellido Materno:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Apellido Materno" readonly="readonly" data-ng-model="acta.apellidoMR" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="mb-3">
                            <label>No. Acta:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="number" class="form-control" readonly="readonly" data-ng-model="acta.noActa" />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Oficialia:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="number" class="form-control" readonly="readonly" data-ng-model="acta.oficialia" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Libro:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="number" class="form-control" min="01" max="09" readonly="readonly" data-ng-model="acta.libro" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Lugar de Nacimiento:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly="readonly" data-ng-model="acta.lnacimientoR" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Sexo:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <select class="form-control" data-ng-model="acta.sexoR" disabled>
                                    <option value="H">Hombre</option>
                                    <option value="M">Mujer</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Fecha de nacimiento:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="date" class="form-control" readonly="readonly" data-ng-model="acta.fnacimientoR" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Estado:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <select class="form-control" data-ng-model="acta.estado" disabled>
                                    <option data-ng-repeat="dato in estados" data-ng-selected="acta.estado == dato.estado" value="{{dato.codigo}}">{{dato.estado}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Datos de los padres -->

                <div class="row">

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Nombre del Padre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly="readonly" data-ng-model="acta.nombreP" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Apellido Paterno Padre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly="readonly" data-ng-model="acta.apellidoPP" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Apellido Materno Padre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly="readonly" data-ng-model="acta.apellidoMP" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Nacionalidad del padre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <select class="form-control" data-ng-model="acta.nacionalidadP" disabled>
                                    <option value="Mexicana">Mexicana</option>
                                    <option value="Extranjera">Extranjera</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Nombre de la Madre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly="readonly" data-ng-model="acta.nombreM" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Apellido Paterno Madre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly="readonly" data-ng-model="acta.apellidoPM" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Apellido Materno Madre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" readonly="readonly" data-ng-model="acta.apellidoMM" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Nacionalidad de la Madre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <select class="form-control" data-ng-model="acta.nacionalidadM" disabled>
                                    <option value="Mexicana">Mexicana</option>
                                    <option value="Extranjera">Extranjera</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12">
                        <div class="mb-3">
                            <label>Anotaciones:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <textarea class="form-control" data-ng-model="acta.anotaciones" rows="5" readonly="readonly" required>
                                    </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <button type="button" class="btn btn-warning" data-ng-click="verSeccion(0);"><i class="fa fa-arrow-left"></i> Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <!-- Actualización de actas -->
    <div class="container-fluid" data-ng-show="Seccion(3)">

        <div class="row" style="padding-top: 80px;">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>Actas de nacimiento
                    <i class="fa fa-phone"></i>   <button type="button" class="btn btn-success" data-ng-click="verSeccion(1)"><i class="fa fa-plus"></i> Registrar persona</button>
                </h2>
                <hr/>
                <h4>Actualizar el acta de una persona:</h4>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-1"></div>
            <div class="col-10">

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label>Fecha de registro:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-sort-numeric-up"></i></span>
                                </div>
                                <input type="date" class="form-control" readonly="readonly" data-ng-model="acta.fregistro" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label>Identificador:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-sort-numeric-up"></i></span>
                                </div>
                                <input type="numeric" class="form-control" placeholder="Identificador" readonly="readonly" data-ng-model="acta.identificador" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="mb-3">
                            <label>C.U.R.P.:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" maxlength="18" readonly="readonly" data-ng-model="acta.curp" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            <label>Nombre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" data-ng-model="acta.nombreR" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Apellido Paterno:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Apellido paterno" data-ng-model="acta.apellidoPR" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Apellido Materno:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Apellido Materno" data-ng-model="acta.apellidoMR" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="mb-3">
                            <label>No. Acta:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="number" class="form-control" readonly="readonly" data-ng-model="acta.noActa" />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Oficialia:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="number" class="form-control" readonly="readonly" data-ng-model="acta.oficialia" required />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Libro:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="number" class="form-control" min="01" max="09" data-ng-model="acta.libro" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Lugar de Nacimiento:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" data-ng-model="acta.lnacimientoR" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Sexo:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <select class="form-control" data-ng-model="acta.sexoR">
                                    <option value="H">Hombre</option>
                                    <option value="M">Mujer</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Fecha de nacimiento:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="date" class="form-control" data-ng-model="acta.fnacimientoR" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="mb-3">
                            <label>Estado:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <select class="form-control" data-ng-model="acta.estado">
                                    <option data-ng-repeat="dato in estados" value="{{dato.codigo}}">{{dato.estado}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Datos de los padres -->

                <div class="row">

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Nombre del Padre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" data-ng-model="acta.nombreP" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Apellido Paterno Padre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" data-ng-model="acta.apellidoPP" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Apellido Materno Padre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" data-ng-model="acta.apellidoMP" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Nacionalidad del padre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <select class="form-control" data-ng-model="acta.nacionalidadP">
                                    <option value="Mexicana">Mexicana</option>
                                    <option value="Extranjera">Extranjera</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Nombre de la Madre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" data-ng-model="acta.nombreM" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Apellido Paterno Madre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" data-ng-model="acta.apellidoPM" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Apellido Materno Madre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" data-ng-model="acta.apellidoMM" required/>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="mb-3">
                            <label>Nacionalidad de la Madre:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <select class="form-control" data-ng-model="acta.nacionalidadM">
                                    <option value="Mexicana">Mexicana</option>
                                    <option value="Extranjera">Extranjera</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12">
                        <div class="mb-3">
                            <label>Anotaciones:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <textarea class="form-control" data-ng-model="acta.anotaciones" rows="5" required>
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <button type="button" class="btn btn-warning" data-ng-click="verSeccion(0);"><i class="fa fa-arrow-left"></i> Regresar</button>
                            <button type="button" class="btn btn-success" data-ng-click="actualizarActa(acta);"><i class="fa fa-sync"></i> Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2018 - Soluciones Digitales y de Procesos S.A. de C.V.</span>
        </div>
    </footer>

    <script src="js/jquery/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/models/acta.js"></script>
</body>

</html>